<div class="container">
    <div class="row">
        <article class="productInfo col-sm-12">

            <% if(isProductForEdit == false) { %>
                
                <h4 class=" productInfo-productName col-sm-12"> <%= product.title %>  </h4>
                
                <img class="productInfo-productImage col-sm-12 col-lg-7" src="<%=product.image.image_1%>" alt="hoa">
                
                <div>
                    <h2 class="productInfo-productPrice col-sm-12 col-lg-5"> $<%= product.price %> </h2>
                    
                    <p class="productInfo-productDescription col-sm-12 col-lg-5">
                        <%= product.description %> 
                    </p>
                    
                    
                    <form action="/products/<%= product.id %>/edit" method="GET">
                        <button type="submit">
                            Edit
                        </button>
                    </form>
                </div>
                
            <% } else { %>

                <form action="/products/<%= product.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                    <h4 class=" productInfo-productName col-sm-12"> 
                        <input type="text" name="sdfg" id="sdfg" value="<%= product.title%>">    
                    </h4>
                
                    <div>
                        <h2 class="productInfo-productPrice col-sm-12 col-lg-5"> 
                            <input type="text" name="" id="" value="$<%= product.price %>">    
                        </h2>
                    
                        <p class="productInfo-productDescription col-sm-12 col-lg-5">
                            <input type="text" name="" id="" value="<%= product.description %> ">
                        </p>

                    
                        <button type="submit">
                            Save
                        </button>
                    </div>
                </form>

            <% } %>

        </article>
    </div>
</div>